
<!-- expo-tiktok-sdk/android/src/main/AndroidManifest.xml -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="expo.modules.tiktoksdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />


    <application>
        <service
            android:name="com.tiktok.sdk.appevent.TikTokAppEventService"
            android:exported="false" />
            
        <activity
            android:name="com.tiktok.sdk.TikTokEntryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="yourdomain.com" />
            </intent-filter>
        </activity>
    </application>
</manifest>